<p id="notice"><%= notice %></p>
<div class="jumbotron col-md-6 col-md-offset-3">
  <div class="row">
    <h2 class="main-my-journal text-center">My Journals</h2>
  </div>
</div>

<% @journals.each do |journal| %>
    <div class="row">
      <div class="col-lg-10 col-sm-offset-1">
        <div class = "wrapper text-center">
          <%= image_tag journal.image.url(:thumb).to_s %>
          <h1 class="image-text"><%= link_to journal.title, journal %></h1>
          <h5 class="image-text2"><%= link_to journal.user.name, journal %></h5>
          <h1 class="image-text3 glyphicon glyphicon-camera"></h1>
        </div>
      </div>

<% end %>

</div>