<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

<h1 class="text-center">Edit Your Journal</h1>

<%= render 'form' %>


    <%= link_to 'Delete this Journal', @journal, method: :delete, data: { confirm: 'Are you sure?' }, "class" => "btn btn-primary" %>


  </div>
</div>
