/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



.wrapper {
  position: relative;
  width: 100%; /* for IE 6 */
  margin-left: auto;
  margin-right: auto;
}

.image-text {
  margin-left: auto;
  margin-right: auto;

}

.image-text {
  position: absolute;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 80px;
  color: whitesmoke;
}

body {
  text-transform: uppercase;
  font-family: 'Poiret One', cursive;

}

btn.hover {
  color: white;
}

a:hover{
  background-color: transparent;
  text-decoration: none;
  color: white;
}

a.active{
  color: white;
}

a.visited {
  color: white;

}



