/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



.wrapper {
  position: relative;
  width: 100%; /* for IE 6 */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  display: inline-block;
}




.image-text {
  position: absolute;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 70px;
  color: whitesmoke;
}

.image-text2 {
  position: absolute;
  top: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 20px;
  color: whitesmoke;
}

.image-text3 {
  position: absolute;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 30px;
  display: block;
  color: whitesmoke;

}


body {
  //text-transform: uppercase;
  font-family: 'Poiret One', cursive;
  color: white;

  background: rgb(206,219,233);
  background: -moz-linear-gradient(-45deg,  rgba(206,219,233,1) 0%, rgba(170,197,222,1) 17%, rgba(97,153,199,1) 50%, rgba(65,154,214,1) 59%, rgba(75,184,240,1) 73%, rgba(58,139,194,1) 84%, rgba(38,85,139,1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(206,219,233,1)), color-stop(17%,rgba(170,197,222,1)), color-stop(50%,rgba(97,153,199,1)), color-stop(59%,rgba(65,154,214,1)), color-stop(73%,rgba(75,184,240,1)), color-stop(84%,rgba(58,139,194,1)), color-stop(100%,rgba(38,85,139,1)));
  background: -webkit-linear-gradient(-45deg,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 73%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
  background: -o-linear-gradient(-45deg,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 73%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
  background: -ms-linear-gradient(-45deg,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 73%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
  background: linear-gradient(135deg,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 73%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 );


}


a:hover{
  background-color: transparent;
  text-decoration: none;
  color: white;
}

a.active{
  color: white;
  text-decoration: none;
}

a.visited {
  color: white;
  text-decoration: none;
}

#intro {
  background: url(https://download.unsplash.com/photo-1425136738262-212551713a58) 50% 0 fixed;
  background-size: 1300px;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 50px 0px 50px 0px;
}


#home {
  background: url(https://download.unsplash.com/photo-1420819453217-57b6badd9e19) 50% 0 fixed;
  background-size: 1300px;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 200px 0;
}
//#about {
//  background: url() 50% 0 fixed;
//  background-size: 1300px;
//  background-position: center;
//  background-repeat: no-repeat;
//  height: auto;
//  margin: 0 auto;
//  width: 100%;
//  position: relative;
//  padding: 100px 0;
//  color: #fff;
//}

.main-title {
  color: white;
  font-size: 60px;
  padding-top: 0px;
}

.small-img {
  padding-bottom: 5px;
  height: 200px;
  width: 300px;
}

.med-img {

  height: 350px;
  width: 500px;

}

.navbar {
  background-color: gray;
}

.jumbotron {
  background-color: darkgray;
}

.navbar-inverse .navbar-brand {
  color: whitesmoke;
  padding-top: 25px;
  font-size: 30px;
}

.navbar-inverse .navbar-nav > li > a {
  color: whitesmoke;
  font-family: 'Poiret One', cursive;

}

.title-button {
  border-top: 100px;
  font-size: large;
}

.footer {

  background-color: darkgray;
  height: 100px;

}

.title-button {
  background-color: black;
}

.jumbotron {
  background-color: darkgray;

}

li {
  color: white;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  padding: 15px 0px;
}

ul
{
  list-style-type: circle;

}

.navbar-inverse .navbar-brand {
  color: whitesmoke;
  padding-top: 18px;
  font-size: 25px;
}







